
.vs/
x64/
x86/
Debug/
Release/

*.obj
*.log
*.tlog
*.pch
*.idb
*.pdb
*.ilk
*.exe
*.sdf
*.opensdf
*.suo
*.user
Ch1/Ch1/Ch1.vcxproj
Ch1/Ch1/Ch1.vcxproj.filters
Ch15/Ch15.vcxproj.filters
Ch15/Ch15.vcxproj
