# VS cache / user state
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.opendb
*.VC.db
slnx.sqlite
VSWorkspaceState.json
DocumentLayout*.json
tasks.vs.json
ProjectSettings.json

# build outputs
[Bb]uild/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
*.obj
*.pdb
*.idb
*.ipch
*.tlog
*.lastbuildstate
*.exe
*.dll
*.lib
*.exp
*.ilk
*.pch
*.log
